<% title_tag t("common.login") %>
<%
auth_session = session[:omniauth] || {}
auth_info = auth_session["info"]
%>
<div class="row">
  <div class="col"></div>
  <div class="col-md-5">
    <div class="card card-l6">
      <div class="card-body">
        <div class="card-title"><%= t("common.login") %> <%= Setting.app_name %></div>
        <% if auth_info.present? %>
          <div class="alert">
            登录 <%= Setting.app_name %> 账号，以绑定 <strong><%= Homeland::Utils.omniauth_name(auth_session["provider"]) %></strong> 三方登录。
          </div>
        <% end %>
        <%= form_for resource, as: resource_name, url: session_path(resource_name) do |f| %>
          <%= render "/shared/error_messages", target: resource %>
          <div class="form-group">
            <%= f.text_field :login, class: "form-control form-control-lg",
              placeholder: t("activerecord.attributes.user.login") + " / " + t("activerecord.attributes.user.email") %>
          </div>
          <div class="form-group">
            <%= f.text_field :password, type: :password, class: "form-control form-control-lg",
              placeholder: t("activerecord.attributes.user.password") %>
          </div>
          <% if devise_mapping.rememberable? -%>
            <div class="form-group">
              <div class="custom-control custom-checkbox">
                <%= f.check_box :remember_me, class: "custom-control-input" %>
                <label class="custom-form-label" for="user_remember_me"><%= t("common.remember_me") %></label>
              </div>
            </div>
          <% end -%>
          <div class="form-actions">
            <%= f.submit t("common.login"), class: "btn btn-primary btn-lg btn-block", 'data-disable-with' => t("common.logining") %>
          </div>
        <% end %>
      </div>
    </div>
    <% if Setting.omniauth_providers.any? %>
      <div class="card omniauth-buttons">
        <div class="card-header"><%= t("common.auth_with_other_services") %></div>
        <div class="card-body flex aic jcc">
          <% Setting.omniauth_providers.each do |provider| %>
            <%= link_to raw("<i class='fab fa-#{provider}'></i> #{Homeland::Utils.omniauth_name(provider)}"), omniauth_authorize_path(:user, provider), method: :post, class: "btn btn-secondary omniauth-#{provider}" %>
          <% end %>
        </div>
      </div>
    <% end %>


    <div class="border-1 border-solid border-lightgray bg-white" style="height:125px;font-family: PingFang SC;font-size: 14px;">
        <div style="font-weight: 400;font-size: 18px;line-height: 25px;margin-left: 24px;padding-top: 16px;color: #000000;">
          去中心化登录
        </div>
        <div style="text-align: center;margin-left:auto;margin-top:24px;margin-left: auto; margin-right: auto; width: 300px;" class="search_row">
          <div style="line-height: 36px;width:120px;height:36px;color: #111111;float:left;border: 1px solid #D1D5DB;filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.08));border-radius: 4px;">
            <img src="/sessions/blue.png" width="16" />
            MetaMask
          </div>
          <div style="border: 1px solid #D1D5DB;line-height: 36px;float:left;margin-left: 10px;filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.08));border-radius: 4px; width:120px;height:36px;color: #111111;">
            <img src="/sessions/blue.png" width="16" />
            Polka Dot
          </div>
          </div>
    </div>


  </div>
  <div class="col-md-3">
    <div class="card">
      <%= render partial: "devise/shared/links" %>
    </div>
  </div>
  <div class="col"></div>
</div>
